$banner-title-font-color: #E9DFC7;
$banner-body-font-color: #ECE6D6;
$footer-color: #2c2c2c;
$button-background-color: #151515;
$content-background-color: rgba(38, 38, 38, 0.84);
$input-background-color: rgba(23, 23, 23, 0.85);
$button-background-color-transparent: rgba(37, 37, 37, 0.85);
$button-border-background-color: rgba(66, 66, 66, 0.73);
$separator-color: rgba(45, 45, 45, 0.89);
$content-light-color: rgba(31, 31, 31, 0.96)