footer {
    background-color: $footer-color;
    color: $banner-body-font-color;
    text-align: center;
    padding: 30px;

    p {
        margin: 0;
    }

    ul {
        list-style: none;

        li {
            display: inline;
            font-size: 20px;

            &:not(:last-child):after {
                margin: 0 1rem;
                content: '|';
            }

            a {
                text-decoration: none;
                color: white;

                &:hover {
                    color: #989898;
                }
            }
        }
    }
}
