.jumb-banner {
    background-image: url('/static/img/marino.jpg');
    background-repeate: no-repeate;
    background-size: 100%;
    background-position: center;
    box-shadow: 0 1em 2em -1em rgba(0, 0, 0, 1);

    .mask {
        background-color: rgba(0, 0, 0, 0.6);
        width: 62%;
        margin: 30px auto;
        padding: 30px;
        border-radius: 25px;
        backdrop-filter: blur(2px);

        h1 {
            color: $banner-title-font-color;
            margin-bottom: 3rem !important;
        }

        p {
            color: $banner-body-font-color;
        }
    }
}

.feature-item {
    .mask {
        background-color: rgba(0, 0, 0, 0.6);
        width: 50%;
        margin: 30px auto;
        padding: 30px;
        border-radius: 25px;

        h1 {
            color: $banner-title-font-color;
            margin-bottom: 3rem !important;
        }

        p {
            color: $banner-body-font-color;
        }
    }

    #feature-play {
        background-image: url('/static/img/')
    }
}

.view-body {
    background-image: url('/static/img/minecart.jpg');
    background-repeate: no-repeate;
    background-size: 100%;
}
