@import 'variables';

@import 'index.scss';

.navbar {
    padding: 15px 125px;
    --bs-bg-opacity: 0.85;
    backdrop-filter: blur(6px);

    box-shadow: 0 1em 3em -1em rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 1em 3em -1em rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0 1em 3em -1em rgba(0, 0, 0, 1);
    z-index: 40;

    .nav-item:not(:last-child) {
        margin-right: 25px;
    }
}

.modal-dialog {
    max-width: 550px;

    .modal-header, .modal-body, .modal-footer {
        padding: 25px 50px;
    }

    .modal-body > label {

    }

    .modal-footer {
        justify-content: center;

        label {
            margin-right: 40px;
        }
    }
}

.btn-dark {
    transition: color .5s, background-color .5s;
    border-radius: 10px;
    width: 120px;

    &:hover {
        background-color: #ababab;
        color: black;
    }
}

.jumbotron {
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;

    .mask {
        background-color: rgba(0, 0, 0, 0.6);
        padding: 30px;
        border-radius: 25px;
        backdrop-filter: blur(2px);

        h1 {
            color: $banner-title-font-color;
            margin-bottom: 3rem !important;
        }

        p {
            color: $banner-body-font-color;
        }
    }

    &.banner {
        position: relative;
        box-shadow: 0 1em 3em -1em rgba(0, 0, 0, 1);
        -moz-box-shadow: 0 1em 3em -1em rgba(0, 0, 0, 1);
        -webkit-box-shadow: 0 1em 3em -1em rgba(0, 0, 0, 1);
        z-index: 30;

        .mask {
            margin: 90px auto 30px auto;
            width: 62%;
        }
    }

    &.feature {
        border-radius: 20px;
        height: 350px;
        position: relative;
        transition: left .5s, right .5s;

        &:not(:last-child) {
            margin-bottom: 30px;
        }

        .mask {
            width: 50%;
        }

        &.left {
            right: 50px;
            .mask {
                margin: 20px auto 20px 50px;
            }

            &:hover {
                right: 100px;
            }
        }

        &.right {
            left: 50px;
            .mask {
                margin: 20px 50px 20px auto;
            }

            &:hover {
                left: 0;
            }
        }
    }

    &#welcome-jumb {
        background-image: url('/static/img/marine-L.jpg');
    }

    &#play-jumb {
        background-image: url('/static/img/adventure-L.jpg');
    }

    &#stats-jumb {
        background-image: url('/static/img/ores-L.jpg');
    }

    &#tools-jumb {
        background-image: url('/static/img/tools-L.jpg');
    }
}

.view-body {
    background-image: url('/static/img/minecart.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: top;
    padding: 50px 0;

    position: relative;
    box-shadow: 0 1em 3em -1em rgba(0, 0, 0, 1);
    -moz-box-shadow: 0 1em 3em -1em rgba(0, 0, 0, 1);
    -webkit-box-shadow: 0 1em 3em -1em rgba(0, 0, 0, 1);
    z-index: 20;
}

.content {

}

footer {
    background-image: url('/static/img/footer-bg.jpg');
    color: $banner-body-font-color;
    text-align: center;
    padding: 20px;
}
