{% extends 'admin.html' %}
{% load static %}
{% load i18n %}

{% block content_admin %}
  <div class="tab_content">
    {% if available %}
      <h2>El servidor está {% if running %} <span class="server-active">en funcionamiento</span> {% else %} <span class="server-stopped">detenido</span> {% endif %}</h2>
      <div class="accordion accordion-flush" id="accordionLog">
        <div class="accordion-item">
          <h2 class="accordion-header" id="flush-headingOne">
            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
              {% trans 'Last report' %}
            </button>
          </h2>
          <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionLog">
            <p>{{ last_log }}</p>
          </div>
        </div>
      </div>
      {% if running %}
        <form method="POST" action="{% url 'stop_server' %}">
          {% csrf_token %}
          <input type="hidden" name="next" value="admin">
          <button class="btn btn-dark" type="submit">{% trans 'Stop server' %}</button>
        </form>
      {% else %}
        <form method="POST" action="{% url 'start_server' %}">
          {% csrf_token %}
          <button class="btn btn-dark" type="submit">{% trans 'Start server' %}</button>
        </form>
      {% endif %}
    {% else %}
      <h2>{% trans 'There is no server configured.' %}</h2>
      <p>{% trans 'Please set the server path in the configuration file.' %}</p>
    {% endif %}
  </div>
{% endblock %}