{% extends 'layout.html' %}
{% load static %}
{% load i18n %}
{% block content %}
  <div id="welcome-jumb" class="p-5 text-center bg-image jumbotron banner">
    <div class="mask">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div>
          <h1 class="mb-3">{% trans 'Wellcome to the server' %}</h1>
          <p class="mb-3">{% trans 'Join the ultimate Minecraft adventure! Explore infinite worlds, build, create and play with your friends play with your friends on our thriving community of Minecraft servers.' %}</p>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-grow-1 view-body">
    <div class="container">
      <div id="play-jumb" class="p-5 text-center jumbotron feature left">
        <div class="mask">
          <div class="d-flex justify-content-center align-items-center h-100">
            <div>
              <h1 class="mb-3">{% trans '¡Play now!' %}</h1>
              <p class="mb-3">{% trans "Click on play and log in immediately - there's no time to lose!" %}</p>
              <a class="btn btn-dark btn-lg" href="{% url 'play' %}" role="button">{% trans 'Play' %}</a>
            </div>
          </div>
        </div>
      </div>
      <div id="stats-jumb" class="p-5 text-center jumbotron feature right">
        <div class="mask">
          <div class="d-flex justify-content-center align-items-center h-100">
            <div>
              <h1 class="mb-3">{% trans 'Statistics' %}</h1>
              <p class="mb-3">{% trans 'Here you can check the server activity and stability statistics.' %}</p>
              <a class="btn btn-dark btn-lg" href="{% url 'stats' %}" role="button">{% trans 'See more' %}</a>
            </div>
          </div>
        </div>
      </div>
      <div id="tools-jumb" class="p-5 text-center jumbotron feature left">
        <div class="mask">
          <div class="d-flex justify-content-center align-items-center h-100">
            <div>
              <h1 class="mb-3">{% trans 'Having problems?' %}</h1>
              <p class="mb-3">{% trans 'You can use our tools to try to solve your problem.' %}</p>
              <a class="btn btn-dark btn-lg" href="{% url 'tools' %}" role="button">{% trans 'Explore' %}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}