{% extends 'layout.html' %}
{% load static %}
{% load bootstrap_icons %}
{% block content %}
  <div id="play-jumb" class="p-5 text-center bg-image jumbotron banner">
    <div class="mask">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div>
          <h1 class="mb-3">¿Quieres conectarte al servidor?</h1>
          <p class="mb-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
            Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it to make a type specimen book. It has survived
            not only five centuries, but also the leap into electronic typesetting, remaining
            essentially unchanged.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-grow-1 view-body">
    {% if available %}
      <div class="container-fluid content">
        <h2>¡Únete ya!</h2>
        <p>Usa la siguiente dirección para conectarte. ¡Se te pedirá tu nombre de usuario y contraseña de esta página!</p>
        <div class="input-group mb-2">
          <div class="input-group-prepend">
            <button class="btn btn-outline-secondary" type="button" title="Copiar">
              {% bs_icon 'clipboard' %}
            </button>
          </div>
          <input type="text" class="form-control" placeholder="mineserv.ddns.net:25565" value="mineserv.ddns.net:25565" readonly />
        </div>
      </div>

      {% if has_mods %}
        <div class="container-fluid content">
          <h2>¡Este servidor tiene mods!</h2>
          <p>Haz click en el siguiente enlace para descargarlos, ¡Te harán falta!</p>
          <div class="accordion accordion-flush" id="accordionMods">
            <div class="accordion-item">
              <h2 class="accordion-header" id="flush-headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                  Listado de mods
                </button>
              </h2>
              <div id="flush-collapseOne" class="accordion-collapse collapse" aria-labelledby="flush-headingOne" data-bs-parent="#accordionMods">
                <ul class="mod-list">
                  {% for mod in mods_list %}
                    <li><a href="{{ mod.url }}">{{ mod.name }}</a></li>
                  {% endfor %}
                </ul>
              </div>
            </div>
          </div>
          <a class="btn btn-outline-secondary download" href="#">Descargar</a>
        </div>
      {% endif %}
    {% else %}
      <div class="container-fluid content">
        <h2>Todavía no hay ningún servidor configurado</h2>
        <p>Por favor, contacta con el administrador del sistema.</p>
      </div>
    {% endif %}
  </div>
{% endblock %}