{% extends 'layout.html' %}
{% load bootstrap5 %}
{% load static %}

{% block content %}
  <div class="flex-grow-1 view-body">
    <div class="container login-form content">
      <form method="POST" action="{% url 'register' %}">
        {% csrf_token %}
        {% bootstrap_form register_form %}
        <button type="submit" class="btn btn-dark big">Enviar</button>
      </form>
      <span class="login-line">¿YA TIENES CUENTA?</span>
      <a class="btn btn-dark big" href="{% url 'login' %}">Inicia sesión</a>
    </div>
  </div>
{% endblock %}