{% extends 'layout.html' %}
{% load static %}
{% block content %}
  <div id="tools-jumb" class="p-5 text-center bg-image jumbotron banner">
    <div class="mask">
      <div class="d-flex justify-content-center align-items-center h-100">
        <div>
          <h1 class="mb-3">Bienvenido al servidor</h1>
          <p class="mb-3">Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem
            Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown
            printer took a galley of type and scrambled it to make a type specimen book. It has survived
            not only five centuries, but also the leap into electronic typesetting, remaining
            essentially unchanged.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="flex-grow-1 view-body">
    <div class="container-fluid content">
      {% if user.is_authenticated %}
        <h2>Característica no habilitada</h2>
        <p>El servidor de minecraft no cuenta con el soporte para esta funcionalidad.</p>
      {% else %}
        <h2>¡Debes conectarte antes!</h2>
        <p>Entra con tu cuenta para poder ver las herramientas.</p>
      {% endif %}
      <h2></h2>
    </div>
  </div>
{% endblock %}