{% load bootstrap5 %}
{% load login_tags %}

<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Iniciar sesión</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="{% url 'login' %}">
          {% csrf_token %}
          {% login_form as login_form %}
          {% bootstrap_form login_form %}
          <button type="submit" class="btn btn-dark big">Enviar</button>
        </form>
      </div>
      <div class="modal-footer">
        <label>¿Aún no tienes cuenta?</label>
        <button class="btn btn-dark" data-bs-target="#registerModal" data-bs-toggle="modal"
                data-bs-dismiss="modal">Regístrate
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="registerModalLabel">Registrar nueva cuenta</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="{% url 'register' %}">
          {% csrf_token %}
          {% register_form as register_form %}
          {% bootstrap_form register_form %}
          <button type="submit" class="btn btn-dark big">Enviar</button>
        </form>
      </div>
      <div class="modal-footer">
        <label>¿Ya tienes cuenta?</label>
        <button class="btn btn-dark" data-bs-target="#loginModal" data-bs-toggle="modal"
                data-bs-dismiss="modal">Inicia sesión
        </button>
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <div id="nav-container" class="container-fluid">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/' %} active {% endif %}" href="{% url 'index' %}">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/play' %} active {% endif %}" href="{% url 'play' %}">Jugar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/stats' %} active {% endif %}" href="{% url 'stats' %}">Estadísticas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link {% if request.path == '/tools' %} active {% endif %}" href="{% url 'tools' %}">Herramientas</a>
        </li>
      </ul>
    </div>
    <div class="mx-auto order-0">
      <a class="navbar-brand mx-auto" href="{% url 'index' %}">MineAdmin</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ms-auto">
        {% if user.is_authenticated %}
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
               data-bs-toggle="dropdown" aria-expanded="false">
              {{ user.get_username }}
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              {% if user.is_superuser %}
                <li><a class="dropdown-item" href="{% url 'admin' %}">Administrar sitio</a></li>
                <li>
                  <hr class="dropdown-divider">
                </li>
              {% endif %}
              <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a></li>
            </ul>
          </li>
        {% else %}
          <li class="nav-item">
            <!-- Button trigger modal -->
            <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#loginModal">
              Identificarse
            </a>
          </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>