<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="loginModalLabel">Iniciar sesión</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="{% url 'login' %}">
          {% csrf_token %}
{#          <div class="mb-3">#}
{#            <label for="log_email" class="form-label">Correo electrónico</label>#}
{#            <input type="email" class="form-control" id="log_email" name="email" aria-describedby="emailHelp">#}
{#            <div id="login-email-help" class="form-text">Nunca lo compartiremos con nadie más.</div>#}
{#          </div>#}
{#          <div class="mb-3">#}
{#            <label for="login_pwd" class="form-label">Contraseña</label>#}
{#            <input type="password" class="form-control {% if error %} is-invalid {% endif %} " id="login_pwd" name="pwd">#}
{#              <div id="validationLogin" class="invalid-feedback">#}
{#                El nombre de usuario o contraseña no son correctos.#}
{#              </div>#}
{#          </div>#}
{#          <div class="mb-3 form-check">#}
{#            <input type="checkbox" class="form-check-input" id="remember-check">#}
{#            <label class="form-check-label" for="remember-check">No cerrar la sesión.</label>#}
{#          </div>#}
          <button type="submit" class="btn btn-dark">Enviar</button>
        </form>
      </div>
      <div class="modal-footer">
        <label>¿Aún no tienes cuenta?</label>
        <button class="btn btn-dark" data-bs-target="#registerModal" data-bs-toggle="modal"
                data-bs-dismiss="modal">Regístrate
        </button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="registerModalLabel">Registrar nueva cuenta</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form method="POST" action="{% url 'register' %}">
          {% csrf_token %}
          <div class="mb-3">
            <label for="reg_email" class="form-label">Correo electrónico</label>
            <input type="email" class="form-control" id="reg_email" name="email" aria-describedby="x">
            <div id="register-email-help" class="form-text">Nunca lo compartiremos con nadie más.</div>
          </div>
          <div class="mb-3">
            <label for="reg_name" class="form-label">Nombre de usuario</label>
            <input type="text" class="form-control" id="reg_name" name="username" aria-describedby="nameHelp">
            <div id="reg-name-help" class="form-text">Tu nombre público, y el que debes usar para
              conectarte.
            </div>
          </div>
          <div class="mb-3">
            <label for="reg_pwd" class="form-label">Contraseña</label>
            <input type="password" class="form-control" id="reg_pwd" name="pwd">
          </div>
          <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="terms-check">
            <label class="form-check-label" for="terms-check">Acepto los <a href="#">términos y condiciones
              de servicio.</a></label>
          </div>
          <button type="submit" class="btn btn-dark">Enviar</button>
        </form>
      </div>
      <div class="modal-footer">
        <label>¿Ya tienes cuenta?</label>
        <button class="btn btn-dark" data-bs-target="#loginModal" data-bs-toggle="modal"
                data-bs-dismiss="modal">Inicia sesión
        </button>
      </div>
    </div>
  </div>
</div>
<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark">
  <div id="nav-container" class="container-fluid">
    <div class="navbar-collapse collapse w-100 order-1 order-md-0 dual-collapse2">
      <ul class="navbar-nav me-auto">
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'index' %}">Inicio</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'play' %}">Jugar</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'stats' %}">Estadísticas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'tools' %}">Herramientas</a>
        </li>
        {% if user.is_authenticated %}
        {% endif %}
      </ul>
    </div>
    <div class="mx-auto order-0">
      <a class="navbar-brand mx-auto" href="{% url 'index' %}">MineAdmin</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".dual-collapse2">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="navbar-collapse collapse w-100 order-3 dual-collapse2">
      <ul class="navbar-nav ms-auto">
        {% if user.is_authenticated %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
             data-bs-toggle="dropdown" aria-expanded="false">
            {{ user.get_username }}
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Configuración</a></li>
            <li>
              <hr class="dropdown-divider">
            </li>
            <li><a class="dropdown-item" href="{% url 'logout' %}">Cerrar sesión</a></li>
          </ul>
        </li>
        {% else %}
        <li class="nav-item">
          <!-- Button trigger modal -->
          <a class="nav-link" href="#" data-bs-toggle="modal" data-bs-target="#loginModal">
            Identificarse
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
  </div>
</nav>